.c-flex{
    display: flex !important;
    align-items: center !important;
}
.c-btn-icon{
    display: flex;
    align-items: center;
    padding: var(--bs-btn-padding-y);
}

body {
    margin: 0px;
}
header {
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    height: 70px;

    .btnContainer>.btn{
        --bs-btn-color: #fff;
        --bs-btn-border-color: #343a40;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #212529;
        --bs-btn-hover-border-color: #343a40 ;
        --bs-btn-focus-shadow-rgb: 33, 37, 41;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #343a40;
        --bs-btn-active-border-color: #495057;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #343a40;
        --bs-gradient: none;
    
        --bs-btn-border-width: 0.15rem;
    }
}
#title{
    font-size: 1.25rem;
}
#searchButtonBar{
    color: #969696;
    width: 10rem;
    text-align: left;
    font-size: 0.9rem;
}
main{}
#searchInput:focus{
    box-shadow: none;
}